<div class="container">
  <div class="search-box position-relative d-flex items-center">
    <div class="md:flex md:items-center mb-6 mr-2">
      <div class="md:w-3/3">
        <input (keydown.enter)="handleChangeSearch()" [(ngModel)]="pageProductRequest.keyword"
          class="bg-gray-200 appearance-none border-2 border-violet-200 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-violet focus:border-violet-500"
          id="inline-full-name" type="text" placeholder="Tìm kiếm sản phẩm">
      </div>
    </div>
    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" (click)="toogleDropDown()"
      class="text-white bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800"
      type="button">{{select[1]}}<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
      </svg>

    </button>
    <div id="dropdown" [class.hidden]="!isOpenDropDown"
      class="z-10 position-absolute bg-violet-500 top-10 divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        <li *ngFor="let select of selects">
          <p (click)="handleChangeSelect(select)"
            class="cursor-pointer block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
            {{select[1]}}</p>
        </li>
      </ul>
    </div>

  </div>


  <div class="row">
    <div *ngFor="let product of products" class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <app-product [product]="product" />
    </div>

  </div>
  <app-pagination [(page)]="pageProductRequest.page" [totalPages]="totalPages" (pageChange)="getAllProducts()" />
</div>

