$white: #fff;
$white-translucent-50: rgba(255, 255, 255, 0.5);
$dark-blue: rgb(19, 23, 42);
$dark-slate: rgb(35, 39, 61);
$light-blue-gray: rgb(173, 178, 203);
$bright-pink: rgb(242, 126, 212);
$gradient-start-dark-blue: rgb(14, 17, 36);
$gradient-end-navy-blue: rgb(36, 36, 73);
$golden-yellow: #ffd700;
$transparent-black: rgba(0, 0, 0, 0);
$neon-purple: rgb(172, 68, 255);
$dark-navy: rgb(19, 23, 42);
$charcoal-blue: rgb(29, 33, 54);
$mint-green: rgb(105, 244, 181);
$hot-pink: rgb(233, 66, 176);
$navy-blue: rgb(12, 13, 54);
$pink-coral: rgb(255, 64, 180);
$purple-indigo: rgb(126, 43, 237);
$deep-navy: rgb(12, 12, 55);
$slate-blue: rgb(32, 34, 60);
$light-amber: rgba(243, 165, 42, 0.3);
$color-main: linear-gradient(-135deg, #c850c0, #4158d0);
$color-main-reserve: linear-gradient(-135deg, #4158d0, #c850c0);