<app-header></app-header>
<div class=" d-flex justify-content-center">
  <div class="wrapper">
    <div class="title">
      Đăng ký
    </div>
    <form #registerForm action="#">
      <div class="field">
        <input [class.border-danger]="isError&&isErrorPhone&&phone.length<6" #inputElement type="text"
          [(ngModel)]="phone" required name="phone" id="phone">
        <label [class.text-danger]="isError&&isErrorPhone&&phone.length<6">Email/Phone</label>

      </div>
      <div class="field">
        <input type="password" [class.border-danger]="isError&&isErrorPassword&&password.length<6"
          [(ngModel)]="password" name="password" id="password" required>
        <label [class.text-danger]="isError&&isErrorPassword&&password.length<6">Mật khẩu</label>
      </div>
      <div class="field">
        <input type="password" [class.border-danger]="isError&&isErrorRetypePassword&&retypePassword.length<6"
          [(ngModel)]="retypePassword" name="retypePassword" id="retypePassword" required>
        <label [class.text-danger]="isError&&isErrorRetypePassword&&retypePassword.length<6">Gõ lại mật khẩu</label>
      </div>
      <div class="field">
        <input type="text" [class.border-danger]="isError&&isErrorFullName&&fullName.length<1" [(ngModel)]="fullName"
          name="fullName" id="fullName" required>
        <label [class.text-danger]="isError&&isErrorFullName&&fullName.length<1">Họ tên đầy đủ</label>
      </div>
      <div class="field">
        <input type="text" [(ngModel)]="address" id="address" name="address">
        <label>Địa chỉ</label>
      </div>
      <div class="field">
        <input type="date" data-date-format="yyyy-MM-dd" [(ngModel)]="dateOfBirth" id="date" name="date">
        <label>Ngày tháng năm sinh</label>
      </div>
      <div class="content">
        <div class="checkbox">
          <input type="checkbox" id="remember-me" [(ngModel)]="isAccepted" name="remember-me">
          <label for="remember-me" [class.text-danger]="isError&&!isAccepted">Bạn có đồng ý với những điều khoản</label>
        </div>
      </div>
      <div class="field">
        <input type="submit" value="Đăng ký" (click)="register()">
      </div>
      <div class="signup-link">
        Bạn đã có tài khoản chưa?<a href="#"> Đăng nhập</a>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>
