<div *ngIf="orderDetail && order && product" class="flex max-lg:flex-col items-center gap-8 lg:gap-24 px-3 md:px-11">
  <div class="grid grid-cols-4 w-full">
    <div class="col-span-4 sm:col-span-1">
      <img (click)="navigateProductDetail()" [src]="product.productUrl" [alt]="product.name"
        class="max-sm:mx-auto duration-300 hover:scale-110">
    </div>
    <div class="col-span-4 sm:col-span-3 max-sm:mt-4 sm:pl-8 flex flex-col justify-center max-sm:items-center">
      <h6 class="font-manrope font-semibold text-2xl leading-9 text-black mb-3 whitespace-nowrap">
        {{product.name}}</h6>
      <p class="font-normal text-lg leading-8 text-gray-500 mb-8 whitespace-nowrap">{{product.description}}</p>
      <div class="flex items-center max-sm:flex-col gap-x-10 gap-y-3">
        <span class="font-normal text-lg leading-8 text-gray-500 whitespace-nowrap">Số lượng:
          {{orderDetail.number_of_products}}</span>
        <span class="font-normal text-lg leading-8 text-gray-500 whitespace-nowrap">Giá: ${{product.price}}</span>
        <p class="font-semibold text-xl leading-8 text-black whitespace-nowrap">Thành tiền
          ${{getTotalProduct() | round}}</p>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-around w-full  sm:pl-28 lg:pl-0">
    <div class="flex flex-col justify-center items-start max-sm:items-center">
      <p class="font-normal text-lg text-gray-500 leading-8 mb-2 text-left whitespace-nowrap">
        Trạng thái</p>
      <p class="font-semibold text-lg leading-8 text-green-500 text-left whitespace-nowrap">
        Delivered</p>
    </div>
    <div class="flex flex-col justify-center items-start max-sm:items-center">
      <p class="font-normal text-lg text-gray-500 leading-8 mb-2 text-left whitespace-nowrap">
        Ngày giao dự kiến</p>
      <p class="font-semibold text-lg leading-8 text-black text-left whitespace-nowrap">
        {{order.shipping_date | dateFormat}}</p>
    </div>
  </div>

</div>

<ng-content></ng-content>
