<div *ngIf="order" class="mt-7 border border-gray-300 pt-9">
  <div class="flex max-md:flex-col items-center justify-between px-3 md:px-11">
    <div class="data">
      <p class="font-medium text-lg leading-8 text-black whitespace-nowrap">Order : {{order.id}}</p>
      <p class="font-medium text-lg leading-8 text-black mt-3 whitespace-nowrap">Phương thức thanh toán :
        <span class="text-gray-500">{{order.payment_method | payment}}</span>
      </p>
    </div>
    <div class="flex items-center gap-3 max-md:mt-5">
      <button
        class="rounded-full px-7 py-3 bg-white text-gray-900 border border-gray-300 font-semibold text-sm shadow-sm shadow-transparent transition-all duration-500 hover:shadow-gray-200 hover:bg-gray-50 hover:border-gray-400">Show
        Invoice</button>
      <button
        class="rounded-full px-7 py-3 bg-indigo-600 shadow-sm shadow-transparent text-white font-semibold text-sm transition-all duration-500 hover:shadow-indigo-400 hover:bg-indigo-700">Buy
        Now</button>

    </div>
  </div>
  <svg class="my-9 w-full" xmlns="http://www.w3.org/2000/svg" width="1216" height="2" viewBox="0 0 1216 2" fill="none">
    <path d="M0 1H1216" stroke="#D1D5DB" />
  </svg>
  <ng-container *ngFor="let order_detail of order.order_details;index as i">
    <app-product-history [orderDetail]="order_detail" [order]="order">
      <ng-container *ngIf="i!=order.order_details.length-1">
        <svg class="my-9 w-full" xmlns="http://www.w3.org/2000/svg" width="1216" height="2" viewBox="0 0 1216 2"
          fill="none">
          <path d="M0 1H1216" stroke="#D1D5DB" />
        </svg>
      </ng-container>
    </app-product-history>
  </ng-container>

</div>
