<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Đây là trang Home</h1>
    <p>Trang này hiện thị danh sách sản phẩm, kèm ảnh</p>
  </div>
  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Tìm sản phẩm"
    />
    <select name="" id="" class="form-control product-category">
      <option selected disabled value="">Đồ điện tử</option>
      <option value="">Đồ gia dụng</option>
      <option value="">Đồ ăn</option>
    </select>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="product-item">
        <img
          src="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/427882540_1085590272712418_1570413981671402603_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHE2yHtFnMT4eekRLh49HgYObMxeKSqN6Y5szF4pKo3pt1ihcQVkh6DHOnGxSqSjEvlss8Voe1Jv22Ox9cPEym4&_nc_ohc=tEd0DUhlTcEQ7kNvgEAZdyZ&_nc_ht=scontent.fhan14-1.fna&gid=AcNTxB-43MiRx53iOGqZPqs&oh=00_AYCKAvZ_xrJrTqepcb_9mGIifWiV_bfRPGP7c4FvNqhXCA&oe=66B0C2C4"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-desciption">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
          voluptate cumque quis consequuntur facilis, facere sint delectus
          dolores blanditiis laboriosam eveniet quod, perspiciatis quisquam?
          Assumenda eveniet vel ipsam illo possimus!
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$1200</del> $1100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="product-item">
        <img
          src="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/427882540_1085590272712418_1570413981671402603_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHE2yHtFnMT4eekRLh49HgYObMxeKSqN6Y5szF4pKo3pt1ihcQVkh6DHOnGxSqSjEvlss8Voe1Jv22Ox9cPEym4&_nc_ohc=tEd0DUhlTcEQ7kNvgEAZdyZ&_nc_ht=scontent.fhan14-1.fna&gid=AcNTxB-43MiRx53iOGqZPqs&oh=00_AYCKAvZ_xrJrTqepcb_9mGIifWiV_bfRPGP7c4FvNqhXCA&oe=66B0C2C4"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-desciption">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
          voluptate cumque quis consequuntur facilis, facere sint delectus
          dolores blanditiis laboriosam eveniet quod, perspiciatis quisquam?
          Assumenda eveniet vel ipsam illo possimus!
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$1200</del> $1100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="product-item">
        <img
          src="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/427882540_1085590272712418_1570413981671402603_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeHE2yHtFnMT4eekRLh49HgYObMxeKSqN6Y5szF4pKo3pt1ihcQVkh6DHOnGxSqSjEvlss8Voe1Jv22Ox9cPEym4&_nc_ohc=tEd0DUhlTcEQ7kNvgEAZdyZ&_nc_ht=scontent.fhan14-1.fna&gid=AcNTxB-43MiRx53iOGqZPqs&oh=00_AYCKAvZ_xrJrTqepcb_9mGIifWiV_bfRPGP7c4FvNqhXCA&oe=66B0C2C4"
          alt="Product Image"
          class="product-image"
        />
        <h3 class="product-name">Product 1</h3>
        <p class="product-desciption">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis
          voluptate cumque quis consequuntur facilis, facere sint delectus
          dolores blanditiis laboriosam eveniet quod, perspiciatis quisquam?
          Assumenda eveniet vel ipsam illo possimus!
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>$1200</del> $1100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star-half-stroke"></i>
        </div>
        <div class="product-actions">
          <button class="btn btn-primary">Thêm vào giỏ hàng</button>
          <span class="space-x"></span>
          <button class="btn btn-success">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>