<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Đây là trang mua hàng</h1>
    <p>Trang này hiện thị danh sách sản phẩm, kèm ảnh</p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="product-header">Thông tin người nhận</h2>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Họ và tên</label>
          <input type="text" class="form-control" id="name" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" id="email" />
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Số điện thoại</label>
          <input type="text" class="form-control" id="phone" />
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h2 class="product-order">Sản phẩm đặt hàng</h2>
      <table>
        <thead>
          <tr>
            <th scope="col" class="text-start">Sản phẩm</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Tổng giá</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="product-info">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTFlhSWwrzGBZnqDlW7uLEEJWBhFc8sW_Ruw&s"
                  alt="Product Image"
                  class="product-image"
                />
                <span class="product-name">Tên sản phẩm</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000 đ</td>
            <td>200,000 đ</td>
          </tr>
          <tr>
            <td>
              <div class="product-info">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTFlhSWwrzGBZnqDlW7uLEEJWBhFc8sW_Ruw&s"
                  alt="Product Image"
                  class="product-image"
                />
                <span class="product-name">Tên sản phẩm</span>
              </div>
            </td>
            <td>2</td>
            <td>100,000 đ</td>
            <td>200,000 đ</td>
          </tr>
        </tbody>
      </table>
      <div class="text-start mt-3">
        <h4 class="header-text text-end text-light">Tổng giá: 400,000 đ</h4>
      </div>
      <div class="text-start mt-3">
        <h4 class="header-text text-start">Nhập coupon</h4>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Nhập coupon" />
          <button class="btn btn-gradient" type="button">Áp dụng</button>
        </div>
      </div>
      <div class="text-start mt-3">
        <button class="btn btn-gradient" type="button">Đơn hàng</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
