<div class="fixed inset-0 bg-gray-900 bg-opacity-50 z-1" *ngIf="visibleInsertProduct"></div>
<button (click)="showDialogInsertProduct()"
  class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">
  Thêm sản phẩm
</button>
<p-dialog [(visible)]="visibleInsertProduct">
  <div class="relative p-4 bg-white rounded-lg shadow sm:p-5">
    <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 ">
      <h3 class="text-lg font-semibold text-gray-900 ">Thêm sản phẩm</h3>
      <button type="button"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center "
        data-modal-toggle="createProductModal" (click)="closeDialogInsertProduct()">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd" />
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="grid gap-4 mb-4 sm:grid-cols-2">
        <div>
          <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Tên sản phẩm</label>
          <input type="text" name="name" id="name" [(ngModel)]="productRequest.name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600  outline-none block w-full p-2.5 "
            placeholder="Tên sản phẩm" required="">
        </div>
        <div><label for="category" class="block mb-2 text-sm font-medium text-gray-900 ">Thể loại</label><select
            id="category" name="categories" [(ngModel)]="productRequest.category_id"
            class="bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 ">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
          </select>
        </div>
        <div>
          <label for="quantity" class="block mb-2 text-sm font-medium text-gray-900 ">Số lượng</label>
          <input type="text" name="quantity" id="quantity" [(ngModel)]="productRequest.quantity" min="10"
            class="outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
            placeholder="Số lượng" required="">
        </div>
        <div>
          <label for="price" class="block mb-2 text-sm font-medium text-gray-900 ">Giá</label>
          <input type="number" name="price" id="price" min="0" [(ngModel)]="productRequest.price"
            class="outline-none bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
            placeholder="$99" required="">
        </div>
      </div>
      <div class="mb-4">
        <span class="block mb-2 text-sm font-medium text-gray-900 ">Hình ảnh mô tả</span>
        <div class="flex justify-center items-center w-full">
          <label for="dropzone-file"
            class="flex flex-col justify-center items-center w-full h-64 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer   hover:bg-gray-100">
            <div class="flex flex-col justify-center items-center pt-5 pb-6">
              <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor"
                viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
              </svg>
              <p class="mb-2 text-sm text-gray-500 ">
                <span class="font-semibold">Click to upload</span>
                or drag and drop
              </p>
              <p class="text-xs text-gray-500 ">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>
            <input id="dropzone-file" type="file" class="hidden" (change)="onFileSelected($event)" multiple>
          </label>
        </div>
      </div>
      <div *ngIf="urls.length > 0" class="flex gap-4 py-4 justify-center overflow-x-auto">
        <div *ngFor="let url of urls" class="relative">
          <img [src]="url" [alt]="productRequest.name"
            class="size-16 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300" />
          <span class="absolute top-1 right-1 text-gray-500 hover:text-gray-800 text-lg leading-none cursor-pointer"
            (click)="removeImage(url)">
            &times;
          </span>
        </div>
      </div>


      <div class="items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
        <button type="submit"
          class="w-full sm:w-auto text-white inline-flex items-center bg-blue-500 hover:bg-blue-400 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg border text-sm font-medium px-5 py-2.5">Thêm
          mới</button>
        <button type="button" (click)="closeDialogInsertProduct()" class=" w-full sm:w-auto text-gray-500 inline-flex items-center bg-white hover:bg-gray-100 focus:ring-4
          focus:outline-none focus:ring-primary-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5
          hover:text-gray-900">Thoát</button>
      </div>
    </form>
  </div>
</p-dialog>
